---
layout: default
copy: "- Beyond the distance(距離を超えて) -"
---

<div class="top-contents">
  <div class="top">
    <div class="top-texts">
      <h1>DojoCon Japan <br>2020</h1>
      <h2>Beyond the DISTANCE</h2>
      <h3>December 27th / ONLINE</h3>
    </div>
  </div>

  <section id="about" class="section-colored">
    <div class="section-contents">
      <h2>DojoCon Japan 2020</h2>
      <div class="text">
        <h3>日本最大の CoderDojo の祭典</h3>
        <p>DojoCon Japan とは CoderDojo コミュニティが全国から集まる、年に１度のカンファレンスイベントです。<br>
          CoderDojo 発祥の地アイルランドでは、CoderDojo Foundation主催の DojoCon (CoderDojo Conference) が年１回のペースで開催されています。「DojoCon Japan」はこの日本版という位置づけで、2016年〜2017年は大阪、2018年は東京、2019年は名古屋で開催されました。本年は5回目の開催をオンラインで行います。DojoCon は、主に CoderDojo を支える運営者やメンターたちを対象にしたカンファレンスであり、CoderDojo の運営方法やノウハウの共有などに主眼が置かれています。</p>
      </div>
    
      <div class="text">
        <h3>CoderDojo とは</h3>
        <p>子ども達にプログラミングを学ぶ場を提供する、ボランティア主導の世界的な非営利活動です。<br>
          CoderDojo は2011年にアイルランドから始まり、現在（2019年12月）は世界100カ国に1,800以上の道場があり、日本国内でも全国194以上の道場で毎年1,000回以上 (*1) 開催されています。CoderDojo はエンジニアやデザイナー、各地域の保護者や学生、研究者や経営者など（メンター）と子どもが出会える場にもなっています。
          <br>*1 統計情報: https://coderdojo.jp/stats</p>
      </div>
    
      <div class="text">
        <h3>DojoCon Japan 2020 について</h3>
        <p>現在、国内には215ヶ所以上の Dojo が活動しています。DojoCon Japan が初めて開催された2016年から比べて、現在に至るまで約4倍の成長率で全国的に広がりを見せています。
          今年は初めてのオンライン開催となります。私たちの日常生活には様々な“距離“が生まれました。CoderDojo コミュニティでも大きな変化が訪れていますが、DojoCon Japan 2020 では、
          “Beyond the Distance” というテーマのもと、様々な距離 (心理的距離、地理的距離など) を乗り越えて、コミュニティのより一層の発展と盛り上がりのきっかけになることを目指しています。
        </p>
      </div>
    </div>
  </section>
  
  <section id="outline" class="section-white">
    <div class="section-contents">
      <h2>ABOUT</h2>
      <p class="caption">開催概要</p>
      <div class="text">
        <div class="outline-one">
          <h3>開催日</h3>
          <p>2020年12月27日（日）</p>
        </div>
        <div class="outline-one">
          <h3>時間</h3>
          <p>10:00-18:00  ※予定</p>
        </div>
        <div class="outline-one">
          <h3>場所</h3>
          <p>オンライン　(メインセッションはYoutubeLiveで行います。)</p>
        </div>
        <div class="outline-one">
          <h3>参加費</h3>
          <p>無料</p>
        </div>
        <div class="outline-one">
          <h3>内容</h3>
          <p>全国の CoderDojo 関係者によるセッションやワークショップなどの企画など</p>
        </div>
      </div>
    </div>
  </section>
  
  <section id="news" class="section-gray">
    <div class="section-contents">
      <h2>NEWS</h2>
      <p class="caption">お知らせ</p>
      <div class="flex x-scroll">
      {% for post in site.categories.news %}
        {% include articles.html %}
      {% endfor %}
      </div>
    </div>
  </section>
  
  <section id="contactme" class="section-white">
    <div class="section-contents">
      <h2>CONTACT</h2>
      <p class="caption">お問い合わせ</p>
      <a href="https://forms.gle/tvDUYUpvZupRcjub7" class="button" target="_blank" rel="noopener">フォームを開く</a>  
    </div>
  </section>

  <section id="socials" class="section-gray">
    <div class="section-contents">
      <h2>SOCIALS</h2>
      <div class="socials-list">
        <a href="https://www.facebook.com/dojoconjapan" target="_blank" class="" rel="noopener"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/DojoConJapan" target="_blank" class="" rel="noopener"><i class="fab fa-twitter-square"></i></a>
      </div>  
    </div>
  </section>
  
  <section id="coderdojo-foundation" class="section-white">
    <div class="section-contents">
      <h2>Organized by</h2>
      <p class="caption">主催</p>
      <ul class="list-simple">
        <li>DojoCon Japan 2020 実行委員会</li>
        <li><a href="https://coderdojo.jp/" target="_blank" rel="noopener">一般社団法人 CoderDojo Japan</a></li>
      </ul>
      <p class="caption">後援</p>
      <ul class="list-simple">
        <li><a href="https://coderdojo.com/" target="_blank" rel="noopener">CoderDojo Foundation</a></li>
      </ul>
    </div>
  </section>
</div>