---
---

@import '_variables'; //変数の読み込み。/_sass/_variables.scss内に色の変数がある。
@import url('https://fonts.googleapis.com/css?family=Concert+One|Noto+Sans+JP:400,900|Roboto:400,900|M+PLUS+Rounded+1c:400,800&display=swap'); //Webフォント読み込み。

$navbar: 60px;
html {
  scroll-behavior: smooth;
}
//全体の設定。文字の設定が主である。
body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  margin: 0;
  text-align: center;
  color: $brown;
}
p,
a,
h3 {
  letter-spacing: 0.08em;
  line-height: 1.8em;
}

a {
  color: inherit; //リンクの文字色を場所によって変える
}
//ヘッダーの設定
header {
  padding-bottom: $navbar;
}

//投稿、トップページの情報ごとのひとかたまり
section,
.post {
  margin: 48px auto;
  padding: 8px;
  width: 80vw;
  max-width: 1000px;
  clear: both;
  overflow: hidden;
}

//トップページの情報ごとのひとかたまり
section {
  h2 {
    font-family: 'Concert One', cursive;
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  .caption {
    font-weight: 500;
    margin: 0 auto 2em;
  }
}

//記事一覧
.x-scroll {
  @media screen and (max-width: 800px) {
    overflow-x: scroll;
    flex-wrap: nowrap !important;
  }
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.article {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 12px rgba($gray, 0.3);
  float: left; //横並び
  margin: 12px 8px;
  text-align: left;
  a {
    text-decoration: none; //外部リンクの下線消す
  }
}

.article-contest {
  padding: 4vw;
  margin: 6px 10%;
  width: calc(80% - 8vw);
  .article-thumbnail {
    height: calc(((80vw / 1.5) - 2vw) * (400 / 600));
  }
}

.article-date {
  font-weight: bold;
  margin-bottom: 4px;
}

//ワークショップの記事一覧
.article-event {
  padding: 2vw;
  width: calc(50% - 4vw - 16px); //1行に2記事入るようにする
  .article-thumbnail {
    height: calc(
      ((80vw / 2) - 4vw - 16px) * (400 / 600)
    ); //縦横比率が2:3になるように設定
    max-height: calc(((800px / 2) - 40px - 16px) * (400 / 600));
  }
}
//セッションの記事一覧
.article-session {
  padding: 2vw;
  width: calc(50% - 4vw - 16px);
  .article-thumbnail {
    height: auto !important;
  }
}

//ニュースの記事一覧
.article-news {
  padding: 2vw;
  transition: 0.3s;
  width: calc(33% - 4vw - 16px); //1行に3記事入るようにする
  .article-thumbnail {
    height: calc(
      ((80vw / 3) - 4vw - 16px) * (400 / 600)
    ); //縦横比率が2:3になるように設定
    max-height: calc(((800px / 3) - 40px - 16px) * (400 / 600));
  }
  &:hover {
    color: $main-color;
    transition: 0.3s;
  }
  .article-title {
    //height: 3.6em;
  }
}
@media screen and (max-width: 1150px) {
  .article-news .article-title {
    //height: 5.4em;
  }
}
//記事のサムネイル画像
.article-thumbnail {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}

//記事のタイトル
.article-title {
  margin-top: 4px;
}

//画面幅800px以下のときに記事一覧の一つ一つを幅いっぱい表示する(レスポンシブ対応)
@media screen and (max-width: 800px) {
  .article {
    padding: 4vw;
    flex: 0 0 120px;
    margin: 6px 8px;
    min-width: 70%;
    width: calc(100% - 8vw);
    .article-thumbnail {
      height: calc(((80vw / 1.5) - 2vw) * (400 / 600));
    }
  }
  .article-news .article-title {
    height: auto;
  }
}

//手裏剣柄背景の設定
.background-ninja {
  background: url('{{site.url}}/img/background.jpg');
  background-size: 80vh auto;
  padding: 24px;
}

//「もっと見る」、「フォームを開く」などのボタン風リンク
.button {
  background-color: $light-blue;
  border-radius: 10px;
  box-shadow: 0px 6px $blue-shadow;
  color: #fff;
  display: block;
  margin: 0 auto 12px;
  padding: 8px 36px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  width: 30%;
  &:hover {
    box-shadow: none;
    opacity: 0.8;
    transform: translateY(12px);
    transition: 0.3s;
  }
}

@media screen and (max-width: 800px) {
  .button {
    padding: 8px 0;
    width: 100%;
  }
}

//フッター
footer {
  background-color: #888;
  color: #fff;
  padding-bottom: 12px;
}
.footer-menu-list {
  list-style: none;
  padding: 0;
  li {
    display: inline;
  }
}

h2 {
  margin-top: 1.6em;
}

//セクションのサムネイル画像
.img-section {
  margin-bottom: 2vw;
  img {
    border-radius: 4px;
    height: 20vw;
    object-fit: cover;
    width: 100%;
  }
}

//スピーカーのサイトなどリンク
.link {
  background-color: $main-color;
  border-radius: calc(12px + 0.5em);
  color: #fff;
  padding: 12px;
  margin-right: 6px;
}

//後援のリスト設定クリア
.list-simple {
  list-style: none;
  margin-top: 24px;
  padding: 0;
  a {
    text-decoration: none;
  }
}

//会場地図(google map)
.map {
  width: 100%;
  max-width: 600px;
}

//ヘッダーのナビゲーションバー
.menu {
  background-color: $main-color;
  height: $navbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  input {
    display: none;
  }
}

.menu-close {
  background-color: #ff6a33;
  border-radius: 0 0 0 8px;
  display: none;
  padding: 24px 14px;
  position: absolute;
  right: -24px;
  top: -14px;
}

//申し込みボタン
.menu-entry-button {
  background-color: #fff;
  border-radius: 4px;
  color: #555;
  display: inline;
  font-weight: bold;
  line-height: 24px;
  margin: calc((60px - 40px) / 2);
  padding: 8px 36px;
  position: absolute;
  right: 10vw;
  text-decoration: none;
}

//ナビゲーションバーハンバーガーアイコン(3本線のアイコン部分。レスポンシブ対応)
.menu-hamburger {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 14px;
  right: 24px;
  width: 20px;
  .fa-times {
    display: none;
  }
  img {
    height: 30px;
  }
}
.menu-list {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 80vw;
  max-width: 1100px;
  > li {
    color: #fff;
    float: left;
    font-weight: bold;
    line-height: $navbar;
  }
  > li:not(:last-child) {
    margin-right: 24px;
  }
  li a {
    text-decoration: none;
  }
}

.menu-second {
  background-color: $light-gray;
  color: #000;
  display: none;
  list-style: none;
  padding: 0;
  position: fixed;
  text-align: left;
  > li {
    padding: 12px 24px;
    line-height: 1.2em;
  }
  > li:hover {
    background-color: #ddd;
  }
}
.menu-first:hover > .menu-second {
  display: block;
}

@media screen and (max-width: 1100px) {
  .menu-entry-button {
    background-color: $main-color;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 1.2em;
    margin: 0;
    padding: 24px 0;
    position: static;
  }
  .menu-list {
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    height: 100vh;
    overflow-y: scroll;
    width: 100vw;
    > li {
      color: inherit;
      display: block;
      float: none;
      margin: 0 !important;
      line-height: 7vh;
    }
  }
  .menu-second {
    background-color: inherit;
    display: block;
    position: static;
    text-align: center;
    > li {
      line-height: 7vh;
      padding: 0;
    }
  }
  .menu-hamburger {
    display: block;
  }
}
#menu-check:checked {
  ~ .menu-list {
    display: block;
  }
  ~ .menu-hamburger .menu-bars {
    display: none;
  }
  ~ .menu-hamburger .menu-close {
    display: block;
  }
}

//開催概要の項目
.outline-one {
  margin: 12px;
  text-align: left;
  * {
    display: inline-block;
    margin: 0;
  }
  h3 {
    background-color: $main-color;
    color: #fff;
    margin-right: 12px;
    padding: 4px 12px;
    text-align: center;
    width: 5em;
  }
}

#page-top a {
  background-color: $light-blue;
  border-radius: 35px;
  bottom: 0;
  color: #fff;
  font-size: 1.5em;
  line-height: 70px;
  height: 70px;
  margin: 4vw;
  opacity: 0.6;
  position: fixed;
  right: 0;
  transition: 0.3s;
  width: 70px;
  &:hover {
    opacity: 1;
  }
}

.ph {
  display: none;
}

//記事詳細時の記事
.post {
  margin-bottom: 12vh;
  text-align: left;
  h1 {
    text-align: center;
  }
  .post-date,
  .post-time {
    text-align: center;
  }
}
.post-content {
  padding: 24px 0;
  img {
    display: block;
    width: 100%;
    margin: auto;
    max-width: 600px;
  }
}
.post-head {
  background-color: $main-color;
  color: #fff;
  margin-bottom: 60px;
  padding: $navbar 0;
  h2 {
    margin: 0;
  }
}
.post-title {
  font-size: 1.6em;
}

//フッターのシェアボタン
.share {
  a {
    float: left;
    line-height: 60px;
    height: 60px;
    width: 50%;
    text-decoration-line: none;
  }
  &::after {
    content: '';
    clear: both;
    display: block;
  }
  .share-twitter,
  .share-facebook {
    display: block;
  }
}
.share-facebook {
  background-color: $facebook-color;
}
.share-twitter {
  background-color: $twitter-color;
}
.share-line {
  background-color: $line-color;
  display: none;
}
@media screen and (max-width: 800px) {
  .share a {
    width: 100%;
  }
  .share-line {
    display: block;
  }
}

//スピーカーの情報の配置
.speaker {
  margin-bottom: 48px;
}
.speaker-description {
  clear: both;
}
.speaker-img {
  border-radius: 60px;
  float: left;
  margin: 0 12px 12px 0;
  width: 120px;
}

//スポンサー
#sponsors h3 {
  background: rgba(15, 175, 250, 0.1);
  border-radius: 10px;
  clear: both;
  color: #646464;
  font-size: 14px;
  margin: auto;
  padding: 5px;
  text-align: center;
  width: 150px;
}
.sponsors-rank {
  letter-spacing: -1em;
  margin-bottom: $navbar;
  text-align: left;
  img {
    display: block;
    height: 16vw;
    max-height: 120px;
    float: left;
    object-fit: contain;
  }
}
.sponsors-rank-img {
  display: block;
  height: 16vw;
  max-height: 120px;
  float: left;
  object-fit: contain;
}

.individual {
  text-align: center;
  list-style: none;
  letter-spacing: 0.08em;
  padding: 0;
  li {
    display: inline-block;
  }
  li:not(:last-child)::after {
    content: ',';
  }
}

.sponsor-gold {
  padding: 4vw;
  width: calc(100% - 8vw);
}
.sponsor-silver {
  padding: 2vw;
  width: calc(50% - 4vw);
}
.sponsor-bronze,
.sponsor-in-kind {
  padding: 1vw;
  width: calc(25% - 2vw);
}

//実行委員一覧
.staff {
  float: left;
  padding: 1.5vw;
  width: calc(20% - 3vw);
  p {
    font-size: 14px;
    margin-top: 1vw;
    transition: 0.5s;
    width: 100%;
    height: 25px;
  }
}
.staff:hover p {
  font-weight: bold;
  transition: 0.5s;
}

.staff-image {
  height: calc(16vw - 3vw);
  max-height: 170px;
  img {
    border-radius: 50%;
    box-shadow: 0 0 3px #d1d3e4;
    transition: 0.5s;
    width: 100%;
  }
}
.staff-image :hover {
  border-radius: 40%;
  box-shadow: 0 0 10px #d1d3e4;
  transition: 0.5s;
}

@media screen and (max-width: 800px) {
  .staff {
    width: calc(33% - 3vw);
  }
  .staff-image {
    height: calc(26vw - 3vw);
  }
}

/*タイムテーブルCSS*/
.table-column {
  float: left;
  margin: 0 4px;
  h3 {
    font-size: 1em;
    margin: 0;
  }
  p {
    font-size: 12px;
    margin: 0;
  }
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    background-color: $light-gray;
    display: block;
    margin-bottom: 8px;
    padding: 10px;
  }
}
.table {
  z-index: 1;
  input {
    display: none;
  }
  h2 {
    background-color: $light-gray;
    color: $brown;
    float: left;
    font-size: 1em;
    margin: 4px;
    padding: 8px;
    text-align: center;
  }
}
.table-content {
  display: none;
  position: relative;
  width: calc(100% - 58px - 16px - 8px);
  li {
    position: absolute;
  }
}
.table-session {
  li {
    width: 100%;
  }
  .session-tag {
    background-color: #fff;
  }
}
.table-workshop {
  li {
    width: calc(33% - 20px);
  }
}
.table-head {
  width: calc((100% - 58px) / 2 - 16px - 8px);
}
.table-time {
  clear: both;
  width: 50px;
  li {
    font-size: 12px;
    font-weight: bold;
    height: calc(240px - 20px - 8px);
  }
}
.table-timehead {
  width: calc(50px - 16px);
}

#radio-session:checked ~ .table-session,
#radio-workshop:checked ~ .table-workshop {
  display: block;
}
.table input:checked + label h2 {
  background-color: $light-blue;
  color: #fff;
}
@media screen and (max-width: 1000px) {
  .table-head {
    width: calc((100% - 58px) - 16px - 8px);
  }
  .table-timehead {
    height: calc(24px * 2 + 16px + 8px);
  }
}
.tags {
  text-align: center;
}
//ワークショップのタグ一覧
.tag-workshop {
  background: linear-gradient(transparent 70%, $light-blue 70%);
}
//セッションのカテゴリ
.session-tag {
  background-color: $light-gray;
  margin-bottom: 8px;
  padding: 12px;
  text-align: center;
}
//記事詳細時タグ
.tag-post {
  background-color: $light-gray;
  border-radius: 1em;
  display: inline-block;
  margin: 6px;
  padding: 4px 24px;
}

//トップページのテキスト類
.text {
  margin: auto;
  width: 80%;
}

//記事サムネイル
.thumbnail {
  margin: 0 10%;
  width: 80%;
}

//トップ・メインビジュアル
.top {
  margin-bottom: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
  h1 {
    color: $red;
    font-family: 'Concert One';
    font-size: 8vh;
    line-height: 1em;
    margin: 16px 0;
  }
  img {
    left: 0;
    z-index: -8;
  }
  p {
    margin: 0;
  }
}
.top-background {
  left: 0;
  position: absolute;
  top: $navbar;
  width: 100%;
  z-index: -10;
}
.top-cloud {
  position: absolute;
  width: 100% !important;
}
.top-ninja {
  bottom: 0;
  max-height: 60%;
  margin: 24px 0;
  max-width: 100%;
}
.top-right {
  vertical-align: middle;
  height: 16px;
}
.top-title {
  margin: 0 10%;
  max-height: 20vh;
  object-fit: contain;
  width: 80%;
}
.top-title-big {
  margin: 0 20%;
  width: 60%;
}
.top-title-small {
  display: none;
}
/* トップの情報とか。 */
.top-date {
  color: $red;
  font-family: 'Concert One';
  font-size: 36px;
  line-height: 1.2em;
  span {
    font-size: 24px;
  }
}
.top-theme {
  color: $brown;
  font-size: 24px;
  font-family: 'M PLUS Rounded 1c';
  font-weight: 800;
  margin-bottom: 24px;
}
.top-venue {
  color: $brown;
}

@media screen and (max-width: 1000px) {
  .outline-one {
    text-align: center;
    * {
      display: block;
    }
    h3 {
      margin: 12px auto 6px;
    }
  }
  .text {
    width: 100%;
  }
  .ph {
    display: inline;
  }
}
@media screen and (max-width: 800px) {
  .top-background {
    display: none;
  }
  .top-title-big {
    display: none;
  }
  .top-title-small {
    display: block;
  }
}
