<header>

  <nav class="navbar navbar-expand-lg navbar-dark text-white bg-main fixed-top">
    <a class="navbar-brand" href="{{site.url}}">
      <img src="{{site.url}}/img/nav-icon.png" height="40px" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{{site.url}}">ホーム <span class="sr-only"></span></a>
        <a class="nav-item nav-link active" href="{{site.url}}#outline">概要</a>
        <a class="nav-item nav-link active" href="{{site.url}}#news">お知らせ</a>
        <a class="nav-item nav-link active" href="{{site.url}}/timetable">タイムテーブル</a>
        <a class="nav-item nav-link active" href="{{site.url}}/session">セッション</a>
        <a class="nav-item nav-link active" href="{{site.url}}/event">イベント企画</a>
        <a class="nav-item nav-link active" href="{{site.url}}/contest">コンテスト</a>
        <a class="nav-item nav-link active" href="{{site.url}}/workshop">ワークショップ</a> 
        <a class="nav-item nav-link active" href="{{site.url}}#contactus">お問い合わせ</a>        
      </div>
    </div>

  </nav>

</header>