<header>
  <nav class="menu">
    <input type="checkbox" id="menu-check">
    <label for="menu-check" class="menu-hamburger"><img src="{{site.url}}/img/svg/bars.svg" alt="メニュー" class="menu-bars"><img src="{{site.url}}/img/svg/close.svg" alt="閉じる" class="menu-close"></label>
    <ul class="menu-list">
      <li><a href="{{site.url}}">ホーム</a></li>
      <li class="menu-first"><a href="{{site.url}}#outline">概要</a>
        <ul class="menu-second">
          <li><a href="{{site.url}}#about">DojoConについて</a></li>
          <li><a href="{{site.url}}#outline">開催概要</a></li>
          <li><a href="{{site.url}}#access">アクセス</a></li>
        </ul>
      </li>
      <li><a href="{{site.url}}#news">お知らせ</a></li>
      <li class="menu-first"><a href="{{site.url}}/timetable">タイムテーブル</a>
        <ul class="menu-second">
        <li><a href="{{site.url}}/session">セッション</a></li>
        <li><a href="{{site.url}}/workshop">ワークショップ</a></li>
      </ul></li>
      <li><a href="{{site.url}}/contests/1">コンテスト</a></li>
      <li class="menu-first"><a href="{{site.url}}#sponsors">スポンサー</a>
        <ul class="menu-second">
          <li><a href="{{site.url}}/posts/1/" target="_blank">スポンサー募集のお知らせ</a></li>
        </ul>
      </li>
      <li><a href="{{site.url}}#contactme">お問い合わせ</a></li>
      <li><a href="https://dojocon-japan.doorkeeper.jp/" class="menu-entry-button" target="_blank" rel="noopener">申し込む</a></li>
    </ul>
  </nav>
</header>
