$main-color: #ff9900;
$light-blue: #7dd0ff;
$blue-shadow: #418ebf;
$light-gray: #f5f5f5;
$gray: #aaa;
$red: #ff6a33;
$brown: #4f2c13;

$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$line-color: #00bb00;
