$main-color: #69b800;
$secondary-color: #ffdb4d;
$third-color: #689924;

$light-green: #ebffd1;

$light-blue: #80d8ff;
$blue-shadow: #418ebf;
$light-gray: #f5f5f5;
$gray: #aaa;
$red: #ff955c;
$light-red: #ffe6cc;
$purple: #99a5ff;
$brown: #4f2c13;

$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$line-color: #00bb00;
